@import 'Themes.css';
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

html,
body,
#root {
  background: var(--color-background);
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  display: flex;
  height: calc(100% - 4em);
}

h2 {
  color: #343130;
}
button {
  background: var(--color-primary);
  border: 1px solid var(--color-border);
  cursor: pointer;
  height: 2rem;
}

button:hover {
  background: var(--color-secondary);
  color: var(--color-hover-text);
}

textarea {
  border-radius: 0;
  border: 1px solid var(--color-border);
  resize: none;
  padding: 1rem;
  margin: 0;
  margin-top: 1rem;
  background: var(--color-surface);
  font-size: 1.2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

textarea:focus {
  outline: 2px solid var(--color-text-primary);
}