.search-panel {
  height: 100%;
  width: 500px;
  border-right: 1px solid var(--color-border-light);
  padding: 1rem;
}

.search-by-button-group {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.search-by-button-group button {
  border: 1px solid var(--color-border);
}

.search-by-button-group button:hover{
  transition: 0.3s;
}

.search-by-button-group button.selected {
  background: var(--color-secondary);
  color: var(--color-hover-text);
  border: 3px;
}

.search-button {
  margin-top: 1rem;
  width: 100%;
}